.article__section1 {
    @media screen and (min-width: $medium){
      grid-column: 2;
      grid-row: 1;
    }
    @media screen and (min-width: $huge){
      height: 1024px;
    }
  }
  .article__section2 {
    @media screen and (min-width: $medium){
      display: flex;
      align-items: center;

      position: relative;

      margin: 110px auto 58px auto;

      grid-column: 1;
      grid-row: 1;
      height: auto;
    }
    @media screen and (min-width: $large){
      margin: 140px 0 30px 0;
    }
    @media screen and (min-width: $huge){
      display: block;
    }
  }
  