.instagram-icon-enter-active {
    @media screen and (min-width: $medium){
        transition: 1.2s ease; 
        transition-delay: $fourthPart;
    }
}

.instagram-icon-enter {
    @media screen and (min-width: $medium){
        opacity: 0;
    }
} 