// BREAKPOINTS // 
$medium: 768px;
$large: 990px;
$huge: 1465px;

// FONTS 

$header: 'Amatic SC', cursive;
$header-latin: 'Annie Use Your Telescope', cursive;
$figcaption-header: 'Patrick Hand', cursive;
$figcaption: 'Lato', sans-serif; 

// SHADOW DEFAULT // 
$shadov-default: 4px 4px 6px #94939340;

// BORDER DEFAULT // 
$border-default: solid 1px #d1c9c9;

