/* SECTION WITH IMG DESCRIPTION */
/* container */
.figcaption__img__container {
  position: relative;

  height: auto;
  width: 300px;
  
  margin: 0 auto 0 auto;
  padding: 0 2px;

  @media screen and (min-width: $huge){
    width: 449px;
    height: auto;

    top: 470px;
  }
}
