.header__name-latin {
  position: relative;
  bottom: 16px;

  width: 100%;
  height: auto;

  margin: 4px 0;
  padding: 2px 14px;

  font-family: $header-latin;
  font-weight: normal;
  font-size: 22px;
  text-align: center;

  color: #a09497;

  @media screen and (min-width: $medium){
    bottom: 22px;
    padding: 2px 18px;
    text-align: right;
  }
  @media screen and (min-width: $large){
    bottom: 24px;
  }
  @media screen and (min-width: $huge){
    bottom: 26px;

    margin: 2px;
    height: 41px;

    font-size: 32px;
    letter-spacing: 4px;
  }
}
