.slide-menu-enter-active {
  transition: all .5s ease;
}
.slide-menu-leave-active {
  transition: all .3s cubic-bezier(1, 0.2, 0.6, 1);
}
.slide-menu-enter, .slide-menu-leave-to {
  transform: translateX(-180px);
}